repo_metadatas_dir/
repo_chunks_dir/
repo_embeddings_dir/

logs/
build/ 
test_suites/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
myenv/

# VS Code
.vscode/

# Environment
.env

# FAISS index
faiss_index.bin

# Cloned repositories
backend/cloned_repos/

# Node/TypeScript
node_modules/
dist/
tree-sitter-languages/
